<a href="https://colab.research.google.com/github/syo2000/HackerRank_Python/blob/main/%F0%9F%8D%8A_Python_Introduction_HackerRank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##ü•ë Say "Hello, World!" With Python

Here is a sample line of code that can be executed in Python:

```python
print("Hello, World!")
```

You can just as easily store a string as a variable and then print it to stdout:

```python
my_string = "Hello, World!"
print(my_string)
```

The above code will print Hello, World! on your screen. Try it yourself in the editor below!

**Input Format**

You do not need to read any input in this challenge.

**Output Format**

Print Hello, World! to stdout.

**Sample Output 0**
```python
Hello, World!
```

In [ ]:
print("Hello, World!")

Hello, World!

##ü•ë Arithmetic Operators

**Task**

The provided code stub reads two integers from STDIN, ***a*** and ***b***. Add code to print three lines where:
1.   The first line contains the sum of the two numbers.
2.   The second line contains the difference of the two numbers (first - second).
3. The third line contains the product of the two numbers.

**Example**

$a = 3$

$b = 5$

Print the following:
```
8
-2
15
```
**Input Format**

The first line contains the first integer, ***a***.

The second line contains the second integer, ***b***.

**Constraints**

$1 <= a <= 10^{10}$

$1 <= a <= 10^{10}$

**Output Format**

Print the three lines as explained above.

**Sample Input 0**
```
3
2
```
**Sample Output 0**
```
5
1
6
```
**Explanation 0**

$3 + 2 => 5$

$3 - 2 => 1$

$3 * 2 => 6$

In [ ]:
if __name__ == '__main__':
    a = int(input());
    b = int(input());
    print (a + b);
    print (a - b);
    2print (a*b);
#print((a + b), (a - b), (a * b), sep='\n')

3
2
5
1
6

##ü•ë Python: Division

**Task**

The provided code stub reads two integers, ***a*** and ***b***, from STDIN.

Add logic to print two lines. The first line should contain the result of integer division,***a//b*** . The second line should contain the result of float division,  ***a/b*** .

No rounding or formatting is necessary.

**Example**

$a = 3$

$b = 5$

The result of the integer division $3//5=0$.

The result of the float division is $3/5=0.6$.

**Print:**

```
0
0.6
```
**Input Format**

The first line contains the first integer, ***a***.

The second line contains the second integer, ***b***.

**Output Format**

Print the two lines as described above.

**Sample Input 0**

```
4
3
```


**Sample Output 0**
```
1
1.33333333333
```

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print (a//b);
    print (a/b);

4
3
1
1.3333333333333333

##ü•ë Loops

**Task**

The provided code stub reads and integer, $n$, from STDIN. For all non-negative integers $i< n$, print $i^2$ .

**Example**

$n=3$

The list of non-negative integers that are less than $n=3$ is $[0,1,2]$. Print the square of each number on a separate line.
```
0
1
4
```
**Input Format**

The first and only line contains the integer, $n$.

**Constraints**

$1<=n<=20$

**Output Format**

Print $n$ lines, one corresponding to each $i$.

**Sample Input 0**
```
5
```
**Sample Output 0**
```
0
1
4
9
16
```

In [ ]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print (pow(i,2));

5
0
1
4
9
16

##ü•ë Print Function

The included code stub will read an integer,$n$ , from STDIN.

Without using any string methods, try to print the following:

$123...n$

Note that "...." represents the consecutive values in between.

**Example**

$n = 5$

Print the string $12345$.

**Input Format**

The first line contains an integer $n$.

**Constraints**

$1<=n<=150$

**Output Format**

Print the list of integers from $1$ through $n$ as a string, without spaces.

**Sample Input 0**
```
3
```
**Sample Output 0**
```
123
```

In [ ]:
if __name__ == '__main__':
    n = int(input())
    for i in range(1, n+1):
        print(i, end="")

3
123

##ü•ë Write a function

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:


*   The year can be evenly divided by 4, is a leap year, unless:
  *   The year can be evenly divided by 100, it is NOT a leap year, unless:

      *   The year is also evenly divisible by 400. Then it is a leap year.
 
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. [Source](https://www.timeanddate.com/date/leapyear.html)

**Task**

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean `True`, otherwise return `False`.

Note that the code stub provided reads from STDIN and passes arguments to the `is_leap` function. It is only necessary to complete the `is_leap` function.

**Input Format**

Read $year$, the year to test.

**Constraints**

$1990<=year<=10^5$

**Output Format**

The function must return a Boolean value (True/False). Output is handled by the provided code stub.

**Sample Input 0**
```
1990
```
**Sample Output 0**
```
False
```
**Explanation 0**

1990 is not a multiple of 4 hence it's not a leap year.

In [ ]:
#method 1
import calendar

def is_leap(year):
    return calendar.isleap(year)

year = int(input())
print(is_leap(year))

1990
False

In [ ]:
#method 2
def is_leap(year):
    leap = False;
    if year%4 == 0:
        if year%400 == 0:
            leap = true;
        elif year%100 == 0:
            leap =  false;  
    return leap
year = int(input())
print(is_leap(year))

1990
False

In [ ]:
def is_leap(year):
    return year % 4 == 0 and (year % 400 == 0 or year % 100 != 0)
year = int(input())
print(is_leap(year))

1990
False